# Ignore specific files
hi.cpp
.pdf
.doc
.class

# Ignore all .txt files
*.txt

# But keep readme.txt
!readme.txt

# Ignore folders
.vscode/
python/

# git add .
# git commit -m "hi "
# git push origin master