/* Global Dark Theme */
body{
    background-color: #2C2C2C !important;
    background-image: linear-gradient(to bottom right, #0d0d0d, #1a1a1a);
    color: #f0f0f0 !important;
}

.dark-theme {
    background-color: #2C2C2C;
    color: #f0f0f0;
}

/* Inputs, selects, textareas */
input, select, textarea {
    background-color: #615d5d !important;
    color: #f0f0f0 !important;
    border: 1px solid #444 !important;
}

/* Cards, forms, containers */
.w3-card, .w3-white, .container {
    background-color: #1a1a1a !important;
    color: #f0f0f0 !important;
    box-shadow: 0 0 10px #000 !important;
}

/* Buttons */
.w3-button, button, input[type="submit"] {
    background-color: #222 !important;
    color: #f0f0f0 !important;
    border: none;
}

.redbutton{
    background-color: #ff0000 !important;
    color: #f0f0f0 !important;
    border: none;
}

.greenbutton{
    background-color: #00b40f !important;
    color: #f0f0f0 !important;
    border: none;
}

.w3-button:hover, button:hover, input[type="submit"]:hover {
    background-color: #333 !important;
}

/* Links */
a {
    color: #4da6ff;
    text-decoration: none;
}
a:hover {
    color: #80bfff;
    text-decoration: underline;
}

/* Fix w3-table borders */
.w3-table td, .w3-table th {
    border-color: #444 !important;
}

/* Override annoying text colors */
.w3-text-black {
    color: #f0f0f0 !important;
}
.w3-text-blue {
    color: #4da6ff !important;
}

.specte{
    background-color: #444;
}